.gradient-custom{
   background: -webkit-linear-gradient(top, rgba(181, 12, 12, 0.832), rgb(31, 30, 30));
}
.borda{
    border-radius: 1rem;
}
img{
   height: 85px;
   width: 85px;
}
.input::placeholder{
   color:white;
}
.vh-100{
   min-height: 100vh;
 }
 